apdev-flights-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="getFlights" doc:id="ed84dab8-abae-4625-8b7e-cc6b4243d619" >
		<set-variable value="#[message.attributes.queryParams.airline]" doc:name="airline" doc:id="e612d75d-eb6f-45bf-a1a6-5c0995ac6e37" variableName="airline"/>
		<flow-ref doc:name="setCode" doc:id="b8106733-d268-4c22-b0a8-289e82cf1480" name="setCode"/>
		<choice doc:name="Choice" doc:id="7ca2d832-a52b-44d0-a65e-6f9a73058e7e" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="b2885f64-cb2f-441c-87d8-103f415089bb" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUnitedFlights" doc:id="90507d98-6c68-4c24-b3db-5e46e7580a7c" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="f48b55a8-d599-4eef-9a63-8ac682b5bc4b" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="5d77aba2-3782-45d3-97a6-866be01d2db3" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="3b3b81e4-20dc-4bf2-991f-cd79d2b405ea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="687e36df-61b6-4aa3-9dbe-7cfe40ab9d9d" />

	</flow>
	<flow name="getAllAirlineFlights" doc:id="b6943ca2-bc6d-4951-822a-8131eb517cc8" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="87e323f2-9c28-43ab-8e6f-93a8b3acac02" >
			<route >
				<try doc:name="Try" doc:id="446ed3e8-a76d-40d5-8475-f3443c95768e" >
					<flow-ref doc:name="getAmericanFlights" doc:id="ee809dba-8360-4789-9027-647338ae3276" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8e29c766-d896-4e06-9b23-d1460cf4cccb" type="ANY">
							<ee:transform doc:name="[]" doc:id="d3338830-f31b-476d-91b3-6eb10c4b2b1e" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="426e8f21-1b8b-4550-9cb4-a0b93fb23f2c" >
					<flow-ref doc:name="getUnitedFlights" doc:id="763618fa-9a2c-477d-affc-bc231fd66539" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="da3b5d22-f200-4f2d-90ab-4b7422b9de63" type="ANY">
							<ee:transform doc:name="[]" doc:id="4b98ed3e-9359-4c48-a991-3db3ca4d8e2a" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="e679f2c5-00fc-4c5f-8f5c-f275527cb27b" >
					<flow-ref doc:name="getDeltaFlights" doc:id="52054aca-d051-4308-837a-32c9b6dd7e4c" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bdf0613d-e4b0-4ead-8117-67f4cd256ae5" type="ANY">
							<ee:transform doc:name="[]" doc:id="316f1e6d-5b01-42ec-9085-980cb7728c7f" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to [Flight]" doc:id="8d465bca-cdbd-46a8-be55-3ad65bbb2e73" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e031aa32-b1f7-487f-9f4b-7803fbf73612" />
	</flow>
	<sub-flow name="setCode" doc:id="7743a04c-dcea-48ec-914f-41bd7d53a3d8" >
		<set-variable value="#[message.attributes.queryParams.code]" doc:name="code" doc:id="22e0a51c-e27a-42a4-8be8-77d2f25da236" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="e9ed8be1-771f-4fc4-b815-dc5f7f2e3e42" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="42716c1e-da4b-457c-a747-6cbe6f8fd67b" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]" />
		<ee:transform doc:name="JSON to [Flight]" doc:id="e2c4ae75-feb3-4f10-8694-899c0202901e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c89ab2a3-a535-47d1-bebe-ba41d4fe9534" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="67c00e56-2b95-466a-b245-7d619d9c1709" type="AMERICAN-FLIGHTS-API:BAD_REQUEST">
				<ee:transform doc:name="No Flights" doc:id="e3a1cd51-14ce-45c7-bca9-e7e482c7451c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="bdd0948b-998f-45de-bd97-377a2d58e56f" variableName="httpStatus" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getUnitedFlights" doc:id="8d0ce926-6f6e-4e01-a371-1186a3b041e7" >
		<http:request method="GET" doc:name="Get flights" doc:id="ea7fa254-4725-4765-9f9d-aa2557b33bfa" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	("dest" : vars.code) if (vars.code != null),
	("dest" : "") if (vars.code == null)
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flights]" doc:id="948ff5db-6297-4268-bd3d-0fa28f17b974">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="584184f4-5186-4abe-94d4-6bcba0191197" />
	</flow>
	<flow name="getDeltaFlights" doc:id="6d5195ff-a909-42b7-9b8b-70f4678366cb" >
		<choice doc:name="Choice" doc:id="e1ef9ae8-6dc8-47cc-afd6-86c5a4f08d71" >
			<when expression="#[vars.code != null]">
				<ee:transform doc:name="Pass Code" doc:id="7280ff41-600e-439a-8a21-6690e05be200">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="6c7a8692-986b-4ac6-a8c5-a5e468f284a8" config-ref="Delta_Web_Service_Consumer_Config" />
				<ee:transform doc:name="SOAP to [Flight]" doc:id="a95621b9-2a6d-41d2-857e-d618049a93bb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise>
				<wsc:consume operation="listAllFlights" doc:name="Get All Flights" doc:id="eedfc232-7c72-424f-933b-1387b584b6dc" config-ref="Delta_Web_Service_Consumer_Config"/>
				<ee:transform doc:name="SOAP to [Flight]" doc:id="fbfa5ce5-fa41-44a4-825f-bbe7f06ecd83" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#listAllFlightsResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="26a879cf-6ced-43b6-b4a7-d2fb65c5c016" />
	</flow>
</mule>
