apdev-flights-ws/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="7743a04c-dcea-48ec-914f-41bd7d53a3d8" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="22e0a51c-e27a-42a4-8be8-77d2f25da236" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="e9ed8be1-771f-4fc4-b815-dc5f7f2e3e42" >
		<http:listener doc:name="GET /american" doc:id="a1d28d43-0294-46e7-badc-033c64018ada" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="42716c1e-da4b-457c-a747-6cbe6f8fd67b" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}"/>
	</flow>
	<flow name="getUnitedFlights" doc:id="8d0ce926-6f6e-4e01-a371-1186a3b041e7" >
		<http:listener doc:name="GET /united" doc:id="a07a2f49-0bf8-47ed-945a-0bdfa0a468a8" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="6375c5d7-060c-46fc-bed4-2b1ad4389edf" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="ea7fa254-4725-4765-9f9d-aa2557b33bfa" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"dest" : vars.code
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="getDeltaFlights" doc:id="6d5195ff-a909-42b7-9b8b-70f4678366cb" >
		<http:listener doc:name="GET /delta" doc:id="7ae1cd33-8ab9-4c49-ba30-48bfae8ace5a" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="1ddfaef3-2916-4ddf-942c-3496a8351ea7" name="setCode"/>
		<ee:transform doc:name="Pass Code" doc:id="7280ff41-600e-439a-8a21-6690e05be200" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="6c7a8692-986b-4ac6-a8c5-a5e468f284a8" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to JSON" doc:id="a95621b9-2a6d-41d2-857e-d618049a93bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
