apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="180dfb2f-a719-4f99-8e40-31d63fbae07a" >
		<http:listener doc:name="GET /hello" doc:id="d9af4ab4-32bc-4b5e-85a5-de26b26b7d5d" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subFlow" doc:id="cde3a02f-caff-46ed-81e6-5d775dc526e3" name="subFlow"/>
		<vm:publish queueName="goodbye" doc:name="VM goodbye" doc:id="c28f0752-e4fd-4696-a894-d8655c68cba5" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="payload" doc:id="04b89354-08e5-4a23-91fb-eb5f1ba1a41f" message="#['\nMessage: '++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="9f265d54-d22d-44d3-b7b2-a880b461006c">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="bfe91147-7644-4e46-af90-afe2fb8be0f4" config-ref="HTTP_Request_configuration" path="/goodbye" responseTimeout="300000">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subFlow" doc:id="c3c060f7-37d5-4d19-97e2-3900f7a92154" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="afa948e7-9f7d-43f6-9808-cc353c4dc3a2" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="a64f0552-3dfa-422d-9756-8838764a0d29" />
	</sub-flow>
	<flow name="GoodbyeFlow" doc:id="62cd50ec-3a55-4637-846b-f693db0e7f42" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="4c4239a1-d5da-4f7d-b3c2-c8f90f777d1b" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="e2972bbd-7876-4e98-a5aa-876181d81155" />
		<logger level="INFO" doc:name="fullName" doc:id="f1eba073-117a-4ffe-bcf6-29a6afed12ca" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
