DIY/customer-accounts/src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementationFlow" doc:id="1dc585fc-28f1-4de2-89a3-f9e670120714" >
		<db:select doc:name="Retrieve account data" doc:id="43d128a4-cd56-4fb3-8455-b1eeae92b838" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT * FROM flights_customers
WHERE accountType = :accountType;]]></db:sql>
			<db:input-parameters><![CDATA[#[{ accountType : message.attributes.queryParams."type" }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3fbcb69b-1367-4ccb-a20b-4032892cf584" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.accountID default "",
	firstName: (payload01.name as String splitBy " " )[0] default "",
	lastName: (payload.name as String splitBy " ")[1] default "",
	address : ((payload01.street as String) ++ ", " ++ (payload01.city as String) ++ ", " ++ (payload01.state as String)) default "",
	postal: payload01.postal default "",
	country: payload01.country default "",
	miles: payload01.miles default 0,
	creationDate: payload01.creationDate as String default "",
	"type": payload01.accountType default ""
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1e336fa7-1e19-41be-889d-f00a49e1e080" message="#[payload]"/>
	</flow>
</mule>
